body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: #626262; 
}

@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'style.css';
@import 'style-responsive.css';